@media screen and (max-width: 726px) {
    .col-4,.col-3{
        width: 100%;
    }
    .container{
        padding: 0 20px;
    }
    .projects__experience-item{
        width: 100%;
    }
    .hero__title{
        font-size: 32px;
        line-height: 1.5;
    }
    .hero__content{
        padding-top: 100px;
    }

    .hero__subtitle{
        font-size: 14px;
    }

    .projects .title{
        margin-top: -300px;
    }
    .contacts__row{
        flex-wrap: wrap;
    }
    .request__row{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .partners__row{
        flex-wrap: wrap;
    }
    .request__row button{
        margin-top: 30px;
    }
    .partners-item{
        width: 100%;
        margin-bottom: 40px;
    }
    .partners-item img{
        object-fit: contain;
    }
    .partners,.reviews{
        overflow: hidden;
    }
    .reviews__row{
        padding: 40px 20px 0;
    }
    .contacts-item{
        margin-bottom: 40px;
    }
    .footer{
        
    }





}
